#current_weather_top{
    position: absolute;
    height: 10%;
    width: 100%;
    background: #0091F8;
    border-radius: 0px 0px 20px 20px;
    font-size: 4vh;
    color: white;
    text-align: center;
}

#top_span{
    position: absolute;
    width: 100%;
    left:0;
    height: 4vh;
    top: 30%;
}

#lat_lng_div{
    height: 2.5%;
    width: 100%;
    position: absolute;
    top: 11%;
    text-align: center;
    font-size: 2.5vh;
}

#date_div{
    height: 2.5%;
    width:100%;
    position: absolute;
    top: 14.5%;
    text-align: center;
    font-size: 2.5vh;
}

table, th, td{
    border: 2px solid black;
    text-align: center;
}

th, td{
    width:14.2857%;
}

#results_table{
    border-collapse: collapse;
    position: absolute;
    width: 80%;
    height: 20%;
    top: 40%;
    left: 10%;

}

th{
    background-color: #0091F8;
    height: 25%;
    border-bottom: none;
    font-size: 2vh;
}
td{
    border-top: none;
    font-size: 2.5vh;
}

#back_to_index_button{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%;
    bottom: 20%;
    font-size: 2vh;
}

body{
    margin:0;
    padding:0;
    font-family: Arial, 'sans-serif';
}