body{
    padding:0;
    margin:0;
    font-family: Arial, sans-serif;
}

button{
    position: absolute;
    width: 5%;
    height: 40%;
    font-size: 2vh;
}

#daily_next_button{
    top:35%;
    right: 2.5%;
}

#daily_prev_button{
    top:35%;
    left: 2.5%;
}

#hourly_next_button{
    top: 70%;
    right: 2.5%;
}

#hourly_prev_button{
    top:70%;
    left: 2.5%;
}

#forecast_weather_top{
    position: absolute;
    height: 10%;
    width: 100%;
    background: #0091F8;
    border-radius: 0px 0px 20px 20px;
    font-size: 4vh;
    color: white;
    text-align: center;
}

#top_span{
    position: absolute;
    width: 100%;
    left:0;
    height: 4vh;
    top: 30%;
}

#lat_lng_div{
    height: 2.5%;
    width: 100%;
    position: absolute;
    bottom: 2%;
    text-align: center;
    font-size: 2.5vh;
}

#daily_div{
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    top: 16%;
}

#hourly_div{
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    top: 43%;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 2.5vh;
    text-align: center;
}

th{
    height: 20%;
    background: #0091F8;
    color: white;
}
td{
    height:70%;
}

#daily_table{
    position: absolute;
    left:10%;
    height:100%;
    width:80%;
}

#daily_table td{
    width: 14.2857%;
}

#hourly_table{
    position: absolute;
    left:10%;
    height:100%;
    width:80%;
}

#hourly_table td{
    width: 12.6667%;
    height: 10%;
}

#daily_time_div{
    position: absolute;
    width: 25%;
    height: 5%;
    top: 11%;
    left: 37.5%;
    font-size: 3vh;
    text-align: center;

}

#hourly_time_div{
    position: absolute;
    width: 30%;
    height: 5%;
    top: 38%;
    left: 35%;
    font-size: 3vh;
    text-align: center;
}

#back_to_index_button{
    position: absolute;
    height: 5%;
    width: 10%;
    left: 45%;
    bottom: 6%;
    font-size: 2vh;
}