body{
    margin: 0;
    padding: 0;
    font-family: Arial sans-serif;
}

#container{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 70%;
}

a{
    text-decoration: none;
}

#license{
    position: absolute;
    width: 50%;
    height: 5%;
    left: 25%;
    bottom: 0%;
    text-align: center;
    font-size: 2vh;
}

#return_to_index{
    position: absolute;
    width: 10%;
    height: 7%;
    bottom: 10%;
    left: 45%;
    font-size: 2vh;
}
