body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background: #0091F8;
}

#input_div{
    position:absolute;
    width: 60%;
    height: 60%;
    background: white;
    border-radius: 100px;
    left: 20%;
    bottom: 20%;
    text-align: center;
}

#month, #year_input{
    position: absolute;
    width: 14.5%;
    height: 10%;
    top: 20%
}

#month{
left: 35%;
}

#year_input{
right: 35%;
}

#input1, #input2, #input3{
    position: absolute;
    width: 30%;
    height: 10%;
    top: 35%;
}

#input1{
    left: 2.5%
}

#input2{
    left: 35%;
}

#input3{
    left: 67.5%;
}

#submit_button{
    position: absolute;
    width: 20%;
    height: 10%;
    bottom: 35%;
    left: 40%;
}

#remaining_API_calls{
    position: absolute;
    width: 70%;
    height: 20%;
    bottom: 5%;
    left: 15%;
    font-size: 2.2vh;
}

#dates_explanation{
    position: absolute;
    width: 50%;
    height: 10%;
    top: 5%;
    left: 25%;
    font-size: 2.2vh;
}

#return_to_index{
    position: absolute;
    width: 10%;
    height: 7%;
    bottom: 6%;
    left: 45%;
    font-size: 2vh;
}
