#form1{
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    background-color: #FFFFFF;
}

#title_area{
    background-color: #0091F8;
    height: 18%;
    position: absolute;
    top: 0%;
    width: 100%;
    font-family: Arial;
    text-align: center;
    font-size: 8vh;
    line-height: 23vh;
    color: white;
}

#input_div{
    margin:0;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 18%;
    background-color: #0091F8;
    border-radius: 0px 0px 80px 80px;
}

#input_div input{
    width:20%;
    height: 24%;
    line-height:normal;
    padding-top:0.1%;
    font-size:3vh;
    text-align: center;
    margin: auto;
    bottom: 0px;
    top: 0px;
}

#buttons_div{
    margin:0;
    position: absolute;
    width: 100%;
    height:5%;
    text-align: center;
    top: 42%;
}

#buttons_div input{
    height: 100%;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #0091F8;
    border: none;
    border-radius: 20px;
    outline: none;
    color: white;
}

#buttons_div input:hover{
    background-color: #0067AF;
}

#input1{
    position:absolute;
    left:15%;
}
#input2{
    position:absolute;
    left:40%;
}
#input3{
    position:absolute;
    left:65%;
}

::-webkit-input-placeholder{
    font-size: 3vh;
    text-align: center;
    opacity: 0.6;
}

#dark_sky_acknowledgement{
    position: absolute;
    width: 30%;
    height: 3%;
    bottom: 1%;
    left: 35%;
    font-size: 2.5vh;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
}

#query_select_div{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 30%;
    background-color: red;
}

select{
    height: 100%;
    width: 100%;
}