{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_skycast/current.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Weather</title>
</head>
<body>

<div id="current_weather_top">
    <span id="top_span">Current Weather for {{ street }} {{ city }}, {{ state }}</span>
</div>

<div id="lat_lng_div">
    Latitude: {{ lat }} Longitude: {{ lng }}
</div>

<div id="date_div">
    {{ hour }}:{{ minute }}:{{ second }} on {{ month }}/{{ day }}/{{ year }}
</div>

<table id="results_table">
    <tr>
        <th>Summary</th>
        <th>Temperature(F)</th>
        <th>Humidity</th>
        <th>Precipitation Type</th>
        <th>Precipitation Probability</th>
        <th>Cloud Cover</th>
        <th>UV Index</th>
    </tr>
    <tr>
        <td>{{ icon }}</td>
        <td>{{ temperature }}</td>
        <td>{{ humidity }}%</td>
        <td>{{ precipType }}</td>
        <td>{{ precipProbability }}%</td>
        <td>{{ cloudCover }}%</td>
        <td>{{ uvIndex }}</td>
    </tr>
</table>


<button id="back_to_index_button" onclick="window.location.replace('{% url 'app_skycast:index' %}')">
    Return to Index
</button>




</body>
</html>