{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_skycast/forecast.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forecast</title>

    <script>
        var daily;
        var hourly;
        var day=0;
        var hour=0;
        var daily_keys = ['icon', 'temperatureHigh', 'temperatureLow', 'uvIndex', 'sunriseTime', 'sunsetTime', 'moonPhase']
        var hourly_keys = ['full_time', 'icon', 'cloudCover', 'humidity', 'precipProbability', 'temperature', 'uvIndex']

        $( document ).ready(function() {
            daily = {{ daily_data|safe }};
            hourly = {{ hourly_data|safe }};

            set_daily_info()
            set_hourly_info()
        });

        function next_day(){
            if(day<6){
                day++;
                set_daily_info()
            }
        }

        function last_day(){
            if(day>0){
                day--;
                set_daily_info()
            }
        }

        function next_hours(){
            // will display 12 hour chunks, to a max of 48 hours in the future
            // hour value of 36 means we are displaying 36-48, so 36 is max
            if(hour<36){
                hour+=12
                set_hourly_info()
            }
        }

        function last_hours(){
            // will display 12 hour chunks, to a max of 48 hours in the future
            // 12-12 = 0
            if(hour>11){
                hour-=12
                set_hourly_info()
            }
        }

        function set_daily_info(){
            // tr:nth-child(2) is the 2nd row, which is the first row after the header row.
            // .children returns all children of the second row, i.e. the <td> tags
            var a = $('#daily_table tr:nth-child(2)').children()

            // iterate over the <td>s, set each one's text
            for(var i=0; i<7; i++){
                // e.g. daily[0]['icon']
                var text = daily[day][daily_keys[i]]
                $(a[i]).html(text)
            }

            // must also change the displayed date to the correct month/day
            var month = daily[day]['month']
            var today = daily[day]['day']
            $('#daily_time_div').html(month + "/" + today)
        }

        function set_hourly_info(){
            // iterate through each of the seven rows row (rows 2-8)
            for(var n=2; n<14; n++){
                // getting the child tds of the nth row
                var row_tds = $('#hourly_table tr:nth-child(' + n + ')').children()
                for(var j=0; j<7; j++){
                    // start at hour+0, end at hour+11 for a 12 hour chunk. e.g. 00:00 to 11:00
                    var temp_text = hourly[hour+n-2][hourly_keys[j]]
                    $(row_tds[j]).html(temp_text)
                }
            }

            // must also change hourly_time_div to reflect the new range of hours
            var month1 = hourly[hour]['month']
            var day1 = hourly[hour]['day']
            var hour1 = hourly[hour]['hour']

            var month2 = hourly[hour+11]['month']
            var day2 = hourly[hour+11]['day']
            var hour2 = hourly[hour+11]['hour']

            var hourly_time_text = month1 + "/" + day1 + " at " + hour1 + ":00 " +
                    "to " + month2 + "/" + day2 + " at " + hour2 + ":00"
            $('#hourly_time_div').html(hourly_time_text)
        }
    </script>

</head>
<body>
<div id="forecast_weather_top">
    <span id="top_span">Forecast for {{ street }} {{ city }}, {{ state }}</span>
</div>
<div id="lat_lng_div">
    Latitude: {{ lat }} Longitude: {{ lng }}
</div>
<div id = "daily_time_div">
    {{ daily_data.0.month }}/{{ daily_data.0.day }}
</div>
<div id="daily_div">
    <button id="daily_prev_button" onclick="last_day()">Previous Day</button>
    <button id="daily_next_button" onclick = "next_day()">Next Day</button>
    <table id="daily_table">
        <tr>
            <th>Summary</th>
            <th>High Temp</th>
            <th>Low Temp</th>
            <th>UV Index</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <th>Moon Phase</th>
        </tr>
        <tr>
            <td id="d1">-a</td>
            <td id="d2">a</td>
            <td id="d3">b</td>
            <td id="d4">c</td>
            <td id="d5">d</td>
            <td id="d6">e</td>
            <td id="d7">f</td>
        </tr>
    </table>
</div>
<div id="hourly_time_div">
    {{ hourly_data.0.month }}/{{ hourly_data.0.day }} at {{ hourly_data.0.hour }}:00 to
    {{ hourly_data.11.month }}/{{ hourly_data.11.day }} at {{ hourly_data.11.hour }}:00
</div>
<div id="hourly_div">
    <button id="hourly_prev_button" onclick="last_hours()">Previous 12 Hours</button>
    <button id="hourly_next_button" onclick="next_hours()">Next 12 Hours</button>
    <table id="hourly_table">
        <tr>
            <th>Hour</th>
            <th>Summary</th>
            <th>Cloud Cover</th>
            <th>Humidity</th>
            <th>Chance of Precip</th>
            <th>Temperature</th>
            <th>UV Index</th>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>



    </table>
</div>

<button id="back_to_index_button" onclick="window.location.replace('{% url 'app_skycast:index' %}')">
    Return to Index
</button>

</body>
</html>