{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_skycast/historical_index.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historical Data - Index</title>
    <script>
        function is_a_form_input_empty(){
            var a = document.forms['dates'].input1.value;
            var b = document.forms['dates'].input2.value;
            var c = document.forms['dates'].input3.value;
            var d = document.forms['dates'].input4.value;
            var e = document.forms['dates'].input5.value;
            var f = document.forms['dates'].input6.value;

            if(a==null || a=="", b==null || b=="", c==null || c=="", d==null || d=="", e==null || e=="", f==null || f==""){
                return true
            }
            else{
                return false
            }
        }

        $(document).ready(function(){
            if(is_a_form_input_empty()){
                alert('Please enter both a starting and ending month, day, and year.')
            }
            else{
                document.getElementById("form1").action = e;
                document.getElementById("form1").submit();
            }
        })
    </script>
</head>
<body>
<div id="input_div">
    <span id="dates_explanation">
        Enter a month and year (1970-2016) to show historical weather information for that month.
        This may take some time.
    </span>
    <form id="input_form" action="{% url 'app_skycast:historical' %}" method="POST">
        {% csrf_token %}
        <input required="required" type="text" name="input1" id="input1" placeholder="Street Address" value="{{ street }}">
        <input required="required" type="text" name="input2" id="input2" placeholder="City" value="{{ city }}">
        <input required="required" type="text" name="input3" id="input3" placeholder="State" value="{{ state }}">
        <select name="month" id="month">
            <option selected disabled>Choose a Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <!-- need error checking to detect a month in the future -->
        <input type="number" id="year_input" name="year" required="required" placeholder="Year" min="1970" max="2016">
        <input type="submit" id="submit_button" value="Submit">
    </form>
    <span id="remaining_API_calls">Note:<br>Free use of the Dark Sky API is limited to 1000 requests per 24 hour period.
    <br>~30 requests are required to retrieve the month of data used for historical lookup. <br>
        Remaining requests: <br> <b>{{ remaining_api_requests }}</b></span>
</div>

<button id="return_to_index" onclick="window.location.replace('{% url 'app_skycast:index' %}')">Return to Index</button>


</body>
</html>