{% load static %}


<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'app_skycast/historical.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <meta charset="UTF-8">
    <title>Historic</title>
    <script>
        $(document).ready(function() {
            var number_of_days = {{ number_of_days }};
            var days_data = {{ days_data|safe }};
            var day_nums = []
            var high_temp_data = []
            var low_temp_data = []
            var prob_precip_data = []
            // creating x-axis values for the chart... ['1', '2', '3', '4', ..., number_of_days]
            for(var i=0; i<parseInt(number_of_days); i++){
                day_nums.push((i+1).toString());
                high_temp_data.push(days_data[i]['temperatureHigh']);
                low_temp_data.push(days_data[i]['temperatureLow']);
                prob_precip_data.push(days_data[i]['precipProbability']);
            }

            Highcharts.chart('container', {
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Temperature Extremes & Chance of Precipitation for {{ street }} {{ city }}, {{ state }}'
                },
                subtitle:{
                    text: '{{ month }}/{{ year }}'
                },
                xAxis: [{
                    categories: day_nums,
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}°F',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Temperature',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    min: 0,
                    max: 1,
                    tickInterval: 0.1,
                    title: {
                        text: 'Chance of Precipitation',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 60,
                    y: 50,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'Chance of Precipitation',
                    type: 'column',
                    yAxis: 1,
                    data: prob_precip_data,
                    tooltip: {
                        valueSuffix: '%'
                    }

                }, {
                    name: 'High Temperature',
                    type: 'spline',
                    data: high_temp_data,
                    tooltip: {
                        valueSuffix: '°F'
                    },

                }, {
                    name: 'Low Temperature',
                    type: 'spline',
                    data: low_temp_data,
                    tooltip: {
                        valueSuffix: '°F'
                    },
                }]
            });
        });
    </script>
</head>
<body>

<div id="container">

</div>

<span id="license">Charts generated by <a href="https://www.highcharts.com/">Highcharts</a>
    under a free non-commercial <a href="https://creativecommons.org/licenses/by-nc/3.0/legalcode">license</a>
</span>

<button id="return_to_index" onclick="window.location.replace('{% url 'app_skycast:index' %}')">Return to Index</button>

</body>
</html>