{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_skycast/index.css' %}">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyCast Index</title>
    <script>
        var queries_text;
        var num_queries;

        function set_action_submit(e){
            if(is_a_form_input_empty()){
                alert("Please enter a valid street address, city, and state.")
            }
            else{
                document.getElementById("form1").action = e;
                document.getElementById("form1").submit();
            }
        }

        function is_a_form_input_empty(){
            var a = document.forms['form1'].input1.value;
            var b = document.forms['form1'].input2.value;
            var c = document.forms['form1'].input3.value;

            if(a==null || a=="", b==null || b=="", c==null || c==""){
                return true
            }
            else{
                return false
            }
        }

        function build_select(){
            var s= document.getElementById('query_select');
            for(var i=0; i<num_queries;i++){
                var street = queries_text[i]['street'];
                var state = queries_text[i]['state'];
                var city = queries_text[i]['city'];
                var text = street + " " + city + ", " + state;

                // Option(text, value)
                s.options[i]= new Option(text, i);
            }
        }

        function query_change(e){
            // when user changes their previous queries selection, automatically populate the inputs with the
            // corresponding street/city/state information
            $('#input1').val(queries_text[e]['street']);
            $('#input2').val(queries_text[e]['city']);
            $('#input3').val(queries_text[e]['state']);
        }

        $( document ).ready(function() {
            queries_text = {{ queries|safe }}
            num_queries = {{ number_of_queries }}
            build_select()
            {% if error %}
                alert('Could not complete request - geolocation failed for that address.')
            {% endif %}
        });
    </script>
</head>
<body>

<div id="title_area">
    Welcome to SkyCast
</div>
<form action="javascript:void(0)" method="post" id="form1" name="form1">
    {% csrf_token %}
    <div id="input_div">
        <input required="required" type="text" name="input1" id="input1" placeholder="Street Address">
        <input required="required" type="text" name="input2" id="input2" placeholder="City">
        <input required="required" type="text" name="input3" id="input3" placeholder="State">
    </div>
    <div id="buttons_div">
        <input type="button" onclick="set_action_submit('{% url 'app_skycast:current' %}')" name="button" value="Current">
        <input type="button" onclick="set_action_submit('{% url 'app_skycast:forecast' %}')" name="button" value="Forecast">
        <input type="button" onclick="set_action_submit('{% url 'app_skycast:historical_index' %}')" name="button" value="Historical">
    </div>
</form>

<!-- only include the selection box for past queries if there are any queries to show -->

<div id="query_select_div">
    <select id="query_select" size="5" onchange="query_change(value)">
    </select>
</div>


<a href="https://darksky.net/poweredby/" id="dark_sky_acknowledgement">Powered by Dark Sky</a>



</body>
</html>